.header {
    position: absolute;
    width: 100%;
    height: 64px;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #4A90E2;
}

.meu-perfil {
    /* Meu perfil */
    /* position: absolute; */
    /* width: 71px; */
    height: 17px;
    margin-right: 42.03px;
    /* top: 23px; */

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 17px;
    text-align: center;

    color: #FFFFFF;
}

.logo {
    /* position: absolute; */
    width: 120.92px;
    height: 23.93px;
    margin-left: 42.03px;
    top: 20.05px;

    font-size: 25px;
    color: #FFFFFF;
    font-family: 'Klavika', Arial, Helvetica, sans-serif;
}